.p-3 {
  padding: 20px;
  .adm-card {
    background: #333; /* 关键：不要太黑 */
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 12px;
  }
  .adm-form-item {
    background: transparent;
  }
  .adm-list-default .adm-list-body {
    border: 0;
  }
  .adm-form-item-label {
    color: #aaa; /* 标签变灰 */
  }
  .adm-input {
    background: #333 !important;
    padding: 6px 15px;
    border: 1px solid #555;
    border-radius: 8px;
    color: #fff;
    input {
      &::placeholder {
        color: #999;
      }
    }
  }
  .divider {
    height: 1px;
    background: #1f1f1f;
    margin: 12px 0;
  }
  .adm-form-footer {
    padding: 20px 0;
  }
}